{% extends 'webapp1/base.html' %}

{% block content %}
<div class = "container">
<form method = 'POST'>
{% csrf_token %}

<h2>Are you sure you want to delete {{box.title}}?</h2>

<button type = 'submit'>Confirm</button>


</form>
</div>

{% endblock %}