{% extends 'webapp1/base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create New Box</title>
</head>
{% block content %}
<body>
    <div class = "container">
    <h1>Create new Box</h1>
    <form method = 'POST' action = '.'>
        {% csrf_token %}
        {{form.as_p}}
        <button type = 'submit'>Save</button>


    </form>

    {% if box %}
     
      <a href = "{% url 'delete_text' box.id %}">Delete</a>
    
    {% endif %}
  </div>
</body>
{% endblock %}

</html>