{% extends 'webapp1/base.html' %}


{% block content %}
{% for post in box %}
<div class="card text-center" style="margin: 18rem">
    <main role="main" class="container">
    <a href = "{% url 'update_text' post.id %}">
        <h1 class="mt-5">{{post.box_title}}</h1>
        <p class="lead">{{post.box_text}}</p>
        
    
    </main>
    <main role="main" class="container">
        <h1 class="mt-5">{{post.box_title}}</h1>
        <p class="lead">{{post.box_text}}</p>
    </a>   
      <a href = "{% url 'create_text' %}">Create a new box</a> 
    </main>
    </div> 
{% endfor %}
{% endblock %}